.table-wrap{
    display: flex;
    justify-content: center;
    margin: 100px auto;
}

td{
    width: 200px;
    height: 100px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}
